#regalo {
    margin-top: 100px;
    font: 1em/1.618 Inter, sans-serif;
    height: 400px;
    padding: 30px;
    background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}



h1 {
    font-size: 80px;
    font-weight:700;
    color: #380a70;
}


h2 {
    color: rgb(255, 255, 255);
}