#regalo {
    margin-top: 100px;
    font: 1em/1.618 Inter, sans-serif;
    height: 400px;
    padding: 30px;
    background-image: linear-gradient(to top, #7d1bf9 0%, #5a1bf9 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}



h1 {
    font-size: 80px;
    font-weight: 700;
    color: #ffffff;
}


h2 {
    color: rgba(255, 255, 255, 0.905);
}