#regalo {
    margin-top: 100px;
    font: 1em/1.618 Inter, sans-serif;
    height: 400px;
    background-image: linear-gradient(to right, #6248f7 0%, #c08eff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}




h1 {
    font-size: 70px;
    font-weight: 700;
    color: #ffffff;
}


h2 {
    font-style: italic;
    color: #ffffff;
}