<section id="contacto">
  <div class="formulario">
    <ul class="wrapper">
      <div class="botonins" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="500">
        <li class="icon instagram">
          <a href="https://www.instagram.com/vachweb/?next=%2F" target="_blank" rel="noopener noreferrer"><i
              class="fab fa-instagram"></i></a>
        </li>
      </div>
      <div class="botonfab" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
        <li class="icon facebook">
          <a href="https://www.facebook.com/VachWeb" target="_blank" rel="noopener noreferrer"><i
              class="fab fa-facebook-f"></i></a>
        </li>
      </div>
    </ul>
    <div class="header">
      <h1>Trabajemos juntos</h1>
    </div>
    <form id="contact-form"  (submit)="sendEmail($event)" *ngIf="!sendContainer; else sentMessage">
      <label for="name">Nombre y Apellido:</label>
      <input type="text" id="from_name" name="from_name" placeholder="Escribe tu nombre..."
      required>
      <label for="email">Email:</label>
      <input type="email"  id="email_id" name="email_id" placeholder="Escribe tu email..." required>
      <label for="message">Mensaje:</label>
      <textarea  id="message" name="message" placeholder="Escribe un mensaje..." required></textarea>
      <input type="submit" value="Enviar">
    </form>
    <ng-template #sentMessage>
      <div class="alert alert-success text-center" role="alert">
        Mensaje enviado
      </div>
    </ng-template>
    <hr>
    <!-- Copyright -->
    <div class="Copyright text-center p-3">
      Copyright © 2024 - <a href="https://www.instagram.com/vachweb/?next=%2F" target="_blank"
        rel="noopener noreferrer"><strong>VACHWEB</strong></a>
    </div>
    <!-- Copyright -->
  </div>
</section>
