<!--Body seccion-->

<section id="contacto">
  <div class="formulario">
    <ul class="wrapper">
      <li class="icon instagram">
        <a href="https://www.instagram.com/vachweb/?next=%2F" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram"></i></a>
      </li>
      <li class="icon facebook">
        <a href="https://www.facebook.com/CodeWeb.bv" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
      </li>
    </ul>
    <div class="header">
      <h1>Trabajemos juntos</h1>
    </div>
    <form id="contact-form" action="https://formspree.io/f/xbjvjjjw" method="post">
      <label for="name">Nombre y Apellido:</label>
      <input type="text" id="name" name="name" required>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required>
      <label for="message">Mensaje:</label>
      <textarea id="message" name="message" required></textarea>
      <input type="submit" value="Enviar">
    </form>
    <hr>
    <!-- Copyright -->
    <div class="Copyright text-center p-3">
      Copyright © 2024 - <a href="https://www.instagram.com/vachweb/?next=%2F" target="_blank" rel="noopener noreferrer"><strong>VachWeb</strong></a>
    </div>
    <!-- Copyright -->
  </div>
</section>
<!--Fin Body seccion-->