.header {
  text-align: center;
  line-height: 0.8;
}

h1:first-of-type {
  font-weight: 200;
  color: hsl(0, 0%, 100%);
  font-family: "Jost", sans-serif;
  margin-top: 20px;
}

h1:last-of-type {
  color: hsl(0, 0%, 100%);
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}





form {
  max-width: 400px;
  margin: 20px auto;
}




label,
input,
textarea {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  margin-left: 13px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.formulario {
  background-color: #000000aa;
  width: 80%;
  border-radius: 30px;
}



#contacto {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}


label {
  color: rgb(240, 248, 255);
}

#message {
  height: 200px;
}





