#why-us {
  background-image: linear-gradient(to right, #6248f7 0%, #c08eff 100%);
}


h1:first-of-type {
  color: #ffffff;
  margin-top: 20px;
  font-size: 45px;
}

h1:last-of-type {
  color: #ffffff;
}

@media screen and (max-width: 458px) {

  h1:first-of-type,
  h1:last-of-type {
    font-size: 40px;
  }
}




.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.why-us .accordion-list {
  margin-top: 40px;
  padding: 0 100px 60px 100px;
}

.why-us .accordion-list ul {
  padding: 0;
  list-style: none;
}

.why-us .accordion-list li+li {
  margin-top: 15px;
}

.why-us .accordion-list li {
  cursor: pointer;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  transition: transform 0.2s;
}

.why-us .accordion-list li:hover {
  transform: scale(1.02);
}



.why-us .accordion-list button {
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 19px;
  line-height: 24px;
  font-weight: 500;
  padding-right: 30px;
  outline: none;
  cursor: pointer;
  border: none;
}

.why-us .accordion-list span {
  color: #4230f4;
  font-weight: 600;
  font-size: 18px;
  padding-right: 10px;
}

.why-us .accordion-list i {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.fa {
  transition: opacity 0.3s ease;
  color: #4230f4;
}

.why-us .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 30px;
  color: #000000af;
  font-size: 18px;
  line-height: 24px;
}




.why-us .accordion-list .collapse {
  color: #343a40;
}

.why-us .accordion-list .collapse .icon-show {
  display: inline-block;
}

.why-us .accordion-list .collapse .icon-close {
  display: none;
}

@media (max-width: 1024px) {

  .why-us .accordion-list {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 992px) {

  .why-us .accordion-list {
    padding-bottom: 30px;
  }
}