<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/codeweb-776b0.appspot.com/o/imagenes%2FLogo2.png?alt=media&token=eae86147-681c-4c5c-b5cf-0af0ed280806"
            class="logo" alt="Logo de Vach">
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu-icon" (click)="openMenu()">
          <i class="{{menu_icon}}"></i>
        </div>
        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <li class="menu-pointer" href="#hero" (click)="navigateTo($event,'hero')">INICIO
            </li>
            <li class="menu-pointer" href="#servicios" (click)="navigateTo($event,'servicios')">SERVICIOS
            </li>
            <li class="menu-pointer" href="#beneficios" (click)="navigateTo($event,'beneficios')">BENEFICIOS
            </li>
            <li class="menu-pointer" href="#tipos" (click)="navigateTo($event,'tipos')">TIPOS DE PÁGINAS
            </li>
            <li class="menu-pointer" href="#paginas" (click)="navigateTo($event,'paginas')">TRABAJOS REALIZADOS
            </li>
            <li class="menu-pointer" href="#contacto" (click)="navigateTo($event,'contacto')">CONTACTO
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header><!-- End Header -->