<header>
  <div class="container">
    <div class="row" *ngFor="let nav of navbar">
      <div class="col-md-3 col-sm-3 col-3">
        <div class="logo">
          <img src={{nav.imagen}} class="logo" alt={{nav.alt}}>
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9 text-end">
        <div class="menu-icon" (click)="openMenu()">
          <i class="{{menu_icon}}"></i>
        </div>
        <div class="desktop_menu" [class.mobile_menu]="menuValue">
          <ul>
            <li class="menu-pointer" href="#hero" (click)="navigateTo($event,'hero')">{{nav.enlace1}}
            </li>
            <li class="menu-pointer" href="#servicios" (click)="navigateTo($event,'servicios')">{{nav.enlace2}}
            </li>
            <li class="menu-pointer" href="#beneficios" (click)="navigateTo($event,'beneficios')">{{nav.enlace3}}
            </li>
            <li class="menu-pointer" href="#tipos" (click)="navigateTo($event,'tipos')">{{nav.enlace4}}
            </li>
            <li class="menu-pointer" href="#paginas" (click)="navigateTo($event,'paginas')">{{nav.enlace5}}
            </li>
            <li class="menu-pointer" href="#contacto" (click)="navigateTo($event,'contacto')">{{nav.enlace6}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header><!-- End Header -->