<section id="nuestrasApp">
    <h1 class="text-center">Nuestros diseños son:</h1>
    <div class="container">
        <div class="row align-items-center">
            <!-- Columna para la imagen -->
            <div class="col-lg-6 d-flex justify-content-center">
                <div class="zoom-container d-flex justify-content-center" data-aos="fade-right"
                    data-aos-duration="2000">
                    <img src="https://firebasestorage.googleapis.com/v0/b/codeweb-776b0.appspot.com/o/imagenes%2FCelular.webp?alt=media&token=59c77c73-12c7-4669-b80d-964575e8746a"
                        alt="Celular" class="img-fluid zoom-img">
                </div>
            </div>

            <!-- Columna para la lista -->
            <div class="col-lg-6">
                <ul class="list-group">
                    <li class="list-group-item text-center" *ngFor="let dise of disenos">
                        <i class={{dise.icono}}></i>
                        <h4>{{dise.titulo}}</h4>
                        <p>{{dise.descripcion}}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>