#nuestrasApp {
  margin-top: 100px;
}

.container {
  margin-top: 100px;
}

h1:first-of-type {
  color: hsl(0, 0%, 0%);
  margin-top: 20px;
  font-size: 50px;
}

h1:last-of-type {
  color: hsl(0, 0%, 0%);
}

.list-group-item {
  border: none;
  font-size: 1.40em; /* Tamaño adaptable */
  font-weight: 500;
}

.imgvisto {
  width: 40px;
  margin: 15px;
}
