<section id="nuestrasApp">
    <h1 class="text-center">Nuestros diseños son:</h1>
<div class="container-fluid d-flex justify-content-center">
    <div class="row">
        <div class="celular col-4 d-flex justify-content-center">
            <img src="../../../assets/imagenes/celular (2).png" alt="Celular">
        </div>
        <div class="lista d-flex justify-content-center">
                <ul class="list-group col-8 text-center">
                    <li class="list-group-item"><img src="../../../assets/imagenes/visto.png" class="imgvisto" alt="imagen visto">Visibilidad global</li>
                    <li class="list-group-item"><img src="../../../assets/imagenes/visto.png" class="imgvisto" alt="imagen visto">Visibilidad global</li>
                    <li class="list-group-item"><img src="../../../assets/imagenes/visto.png" class="imgvisto" alt="imagen visto">Visibilidad global</li>
                    <li class="list-group-item"><img src="../../../assets/imagenes/visto.png" class="imgvisto" alt="imagen visto">Visibilidad global</li>
                    <li class="list-group-item"><img src="../../../assets/imagenes/visto.png" class="imgvisto" alt="imagen visto">Visibilidad global</li>
                    <li class="list-group-item"><img src="../../../assets/imagenes/visto.png" class="imgvisto" alt="imagen visto">Visibilidad global</li>
                  </ul>
        </div>
    </div>
</div>
</section>