<section id="nuestrasApp">
    <h1 class="text-center">Nuestros diseños son:</h1>
    <div class="container">
        <div class="row align-items-center">
            <!-- Columna para la imagen -->
            <div class="col-lg-4 d-flex justify-content-center">
                <img src="../../../assets/imagenes/celular (2).png" alt="Celular" class="img-fluid">
            </div>
            <!-- Columna para la lista -->
            <div class="col-lg-8">
                <ul class="list-group text-center">
                    <li class="list-group-item"><img src="../../../assets/imagenes/visto.png" class="imgvisto" alt="imagen visto"> Visibilidad global</li>
                    <li class="list-group-item"><img src="../../../assets/imagenes/visto.png" class="imgvisto" alt="imagen visto">Visibilidad global</li>
                    <li class="list-group-item"><img src="../../../assets/imagenes/visto.png" class="imgvisto" alt="imagen visto">Visibilidad global</li>
                    <li class="list-group-item"><img src="../../../assets/imagenes/visto.png" class="imgvisto" alt="imagen visto">Visibilidad global</li>
                    <li class="list-group-item"><img src="../../../assets/imagenes/visto.png" class="imgvisto" alt="imagen visto">Visibilidad global</li>
                    <li class="list-group-item"><img src="../../../assets/imagenes/visto.png" class="imgvisto" alt="imagen visto">Visibilidad global</li>
                  </ul>
        </div>
    </div>
</div>
</section>