<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <div class="menu-wrap">
      <input type="checkbox" class="toggler">
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li>
                <a class="menu-pointer" routerLink="/Inicio">Inicio</a>
              </li>
              <li>
                <a class="menu-pointer" routerLink="/Servicios">Servicios</a>
              </li>
              <li>
                <a class="menu-pointer" routerLink="/Paginas">Paginas Web</a>
              </li>
              <li>
                <a class="menu-pointer" routerLink="/Contacto">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header><!-- End Header -->

<!--Body seccion-->
<div class="header">
  <h1>Servicios</h1>
</div>
<div class="row1-container">
  <div class="box box-down cyan">
    <h3>Sitios Web Responsivos</h3>
    <p>sitios web que se adapten a diferentes dispositivos y tamaños de pantalla.
    </p>
    <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
  </div>

  <div class="box red">
    <h3>Diseño Web Perzonalido</h3>
    <p>Creación de sitios web únicos y atractivos que se adapten a las necesidades y la identidad visual de tu empresa.
    </p>
    <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
  </div>

  <div class="box box-down blue">
    <h3>Diseño Web Perzonalido</h3>
    <p>Uses data from past projects to provide better delivery estimates</p>
    <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
  </div>
</div>
<div class="row2-container">
  <div class="box orange">
    <h3>Diseño Web Perzonalido</h3>
    <p>Regularly evaluates our talent to ensure quality</p>
    <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
  </div>
</div>
<!--Fin Body seccion-->