.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

h1:first-of-type {
  font-weight: 200;
  color: hsl(0, 0%, 100%);
  font-family: "Jost", sans-serif;
  margin-top: 20px;
}

h1:last-of-type {
  color: hsl(0, 0%, 100%);
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.5rem;
  }
}

.header {
  text-align: center;
  line-height: 0.8;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color: hsl(229, 6%, 66%);
}


.box p {
  color: hsl(229, 6%, 66%);
}

.box {
  position: relative;
  border-radius: 5px;
  height: auto;
  padding: 30px;
  margin: 20px;
  overflow: hidden;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.box img {
  max-width: 100%;
  height: auto;
  display: block;
  float: right;
  width: 50px;
}

@media (max-width: 950px) {
  .box {
    text-align: center;
    height: auto;
  }
}


@media (max-width: 950px) and (min-width: 450px) {
  .box {
    text-align: center;
    height: auto;
  }
}

.cyan {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.red {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.blue {
  border-top: 4px solid hsl(212, 86%, 64%);
}

.orange {
  border-top: 4px solid hsl(34, 97%, 64%);
}

h3 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  display: flex;
}



@media (min-width: 950px) {
  .row1-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .row2-container {
    display: flex;
    justify-content: center;
    align-items: end;
  }

  .box-down {
    position: relative;
    top: 150px;
  }

  .box {
    width: 20%;

  }

  .header p {
    width: 30%;
  }

}

.contenedor-principal {
  margin-top: 70px;
}