<!--Body seccion-->
<section id="servicios">
<div class="header">
  <h1>Servicios</h1>
</div>
<div class="container">
<div class="card">
  <h3 class="text-center">Desarrollo de Sitios Web a medida</h3>
  <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic doloribus perspiciatis autem. Saepe pariatur maxime magni. Modi culpa deleniti alias tenetur recusandae rem iusto soluta sint. Earum natus aliquam voluptatem molestias provident cumque excepturi, qui asperiores odio explicabo officiis alias facilis expedita porro magni modi! Voluptates expedita labore ut atque.</p>
</div>
<div class="card">
  <h3 class="text-center">Soluciones Integrales para tu Sitio existente</h3>
  <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic doloribus perspiciatis autem. Saepe pariatur maxime magni. Modi culpa deleniti alias tenetur recusandae rem iusto soluta sint. Earum natus aliquam voluptatem molestias provident cumque excepturi, qui asperiores odio explicabo officiis alias facilis expedita porro magni modi! Voluptates expedita labore ut atque.</p>
</div>
<div class="card">
  <h3 class="text-center">Estrategia de SEO</h3>
  <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic doloribus perspiciatis autem. Saepe pariatur maxime magni. Modi culpa deleniti alias tenetur recusandae rem iusto soluta sint. Earum natus aliquam voluptatem molestias provident cumque excepturi, qui asperiores odio explicabo officiis alias facilis expedita porro magni modi! Voluptates expedita labore ut atque.</p>
</div>
</div>
</section>
<!--Fin Body seccion-->





