<app-menu></app-menu>

<!--Body seccion-->
<div class="header">
  <h1>Servicios</h1>
</div>
<div class="contenedor-principal">
  <div class="row1-container">
    <div class="box box-down cyan">
      <h3>Sitios Web Responsivos</h3>
      <p>Creación de sitios web adaptativos que se ven y funcionan correctamente en dispositivos móviles, tabletas y
        ordenadores de escritorio.
      </p>
      <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
    </div>

    <div class="box red">
      <h3>Diseño Web Perzonalido</h3>
      <p>Creación de sitios web únicos y atractivos que se adapten a las necesidades y la identidad visual de tu
        empresa.
      </p>
      <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
    </div>

    <div class="box box-down blue">
      <h3>Sitios Web Estáticos</h3>
      <p>Construcción de sitios web básicos y ligeros utilizando HTML, CSS y JavaScript, ideales para proyectos simples
        o
        páginas de inicio.</p>
      <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
    </div>
  </div>
  <div class="row2-container">
    <div class="box orange">
      <h3>Sitios Web Dinámicos</h3>
      <p>Creación de sitios web interactivos y dinámicos utilizando tecnología como Angular, que permiten una
        experiencia
        más enriquecedora para el usuario.</p>
      <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
    </div>
  </div>
</div>
<!--Fin Body seccion-->