<header id="header" class="fixed-top">
  <div class="container d-flex justify-content-end align-items-center">
    <a href="/Inicio">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/codeweb-776b0.appspot.com/o/imagenes%2FLogoCodeweb.png?alt=media&token=070f1921-7fcc-4c3b-ac9f-bfe021117242"
        class="imglogo" alt="Logo de Code Web">
    </a>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler">
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li>
                <a class="menu-pointer" href="#hero" (click)="navigateTo($event,'hero')">Inicio</a>
              </li>
              <li>
                <a class="menu-pointer" href="#servicios" (click)="navigateTo($event,'servicios')">Servicios</a>
              </li>
              <li>
                <a class="menu-pointer" href="#beneficios" (click)="navigateTo($event,'beneficios')">Beneficios</a>
              </li>
              <li>
                <a class="menu-pointer" href="#why-us" (click)="navigateTo($event,'why-us')">Preguntas</a>
              </li>
              <li>
                <a class="menu-pointer" href="#tipos" (click)="navigateTo($event,'tipos')">Tipos de páginas</a>
              </li>
              <li>
                <a class="menu-pointer" href="#paginas" (click)="navigateTo($event,'paginas')">Trabajos realizados</a>
              </li>
              <li>
                <a class="menu-pointer" href="#contacto" (click)="navigateTo($event,'contacto')">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
        <h1>Transformando ideas en <span>experiencias digitales</span></h1>
        <h2>Contáctenos y convierta su página web en un reflejo fiel de su identidad y visión.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="https://wa.me/3537661920" class="btn-get-started scrollto" target="_blank"
            rel="noopener noreferrer">Quiero mi página web!</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img
          src="https://firebasestorage.googleapis.com/v0/b/codeweb-776b0.appspot.com/o/imagenes%2Ffotobanner.png?alt=media&token=0cbb6366-7af4-41b0-a614-54bb74718c1d"
          class="img-fluid animated" alt="imagen del banner">
      </div>
    </div>
  </div>
</section><!-- End Hero -->