#hero {
  width: 100%;
  height: 721px;
}


#hero .container {
  margin-bottom: 100px;
}


#hero h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 56px;
  color: #000000d8;
}

#hero h1 span {
  color: #6248f7;
}

#hero h2 {
  color: rgba(52, 52, 52, 0.742);
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #ffffff;
  background: #4230f4;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.265);
  transition: transform 0.3s;
  text-decoration: none;
}

#hero .btn-get-started:hover {
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.383);
  transform: scale(1.04);
}


#hero .animated {
  margin-left: 111px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}



@media (max-width: 991px) {
  #hero {
    height: 100vh;
    text-align: center;
  }




  #hero .hero-img img {
    width: 50%;
    height: 100%;
  }

  #hero .animated {
    margin-left: 492px;
  }
}

@media (max-width: 768px) {
  #hero .animated {
    margin-left: 279px;
  }

  #hero h1 {
    font-size: 35px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .hero-img img {
    width: 70%;
    height: 100%;
  }
}

@media (max-width: 575px) {
  #hero .container {
    margin-bottom: 150px;
  }

  #hero .hero-img img {
    margin-left: 134px;
    width: 70%;
    height: 100%;
  }

  #hero .btn-get-started {
    font-size: 16px;
    padding: 10px 24px 11px 24px;
  }
}


@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

/*banner*/