<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <div class="row" *ngFor="let bann of banner">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1">
        <h1>Transformando ideas en
          <span>experiencias digitales</span>
        </h1>
        <h2>{{bann.subtitulo}}</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="https://wa.me/3537661920" class="btn-get-started scrollto" target="_blank"
            rel="noopener noreferrer">{{bann.boton}}</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img">
        <img src={{bann.imagen}} class="img-fluid animated" alt={{bann.alt}}>
      </div>
    </div>
  </div>
</section><!-- End Hero -->