<section id="beneficios">
<div class="container">
    <h1 class="text-center">Beneficios de un <span>Sitio Web</span></h1>
    <div class="contenidoCompleto">
        <div class="row">
    <ul class="list-group col-6 text-center">
        <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global</li>
        <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global</li>
        <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global</li>
      </ul>
      <ul class="list-group col-6 text-center">
        <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global</li>
        <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global</li>
        <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global</li>
      </ul>

    </div>
    </div>
</div>
</section>