#beneficios {
  margin-top: 100px;
}

.contenidoCompleto {
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.288);
  margin-top: 100px;
}

h1:first-of-type {
  color: hsl(0, 0%, 0%);
  margin-top: 20px;
  font-size: 50px;
}

h1:last-of-type {
  color: hsl(0, 0%, 0%);
}


h1 span {
  color: #0597F2;
}


.list-group-item {
  border: none;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;

}


.fa-solid.fa-check {
  margin: 15px;
  border-radius: 50%;
  padding: 15px;
  color: #00aeff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.288);
}