<section id="beneficios">
  <div class="container">
      <h1 class="text-center">Beneficios de un <span>Sitio web</span></h1>
      <div class="contenidoCompleto">
          <ul class="list-group text-center">
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global 1</li>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global 2</li>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global 3</li>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global 4</li>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global 5</li>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global 6</li>
          </ul>
      </div>
  </div>
</section>
