<section id="beneficios">
  <div class="container">
      <h1 class="text-center">Beneficios de un <span>Sitio web</span></h1>
      <div class="contenidoCompleto">
          <ul class="list-group text-center">
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Visibilidad global</li>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>
                Credibilidad y Confianza</li>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Profesionalidad</li>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Competitividad</li>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Promoción de la Marca
              </li>
              <li class="list-group-item"><i class="fa-solid fa-arrow-right"></i>Posicionamiento en Motores<br>de Búsqueda (SEO)</li>
          </ul>
      </div>
  </div>
</section>
