<section id="tipos">
<div class="container">
  <h1 class="text-center">Tipos de Sitios web</h1>
    <div class="row">
        <div class="card text-center">
            <i class="fa-solid fa-plane-arrival"></i>
            <div class="card-body">
              <h3>Landingpage</h3>
              <p class="card-text">Potencia los resultados de tus campañas de publicidad</p>
            </div>
          </div>
          <div class="card text-center">
            <i class="fa-solid fa-magnifying-glass"></i>
            <div class="card-body">
              <h3>Onepage</h3>
              <p class="card-text">Lo más destacado de tu empresa en una única página.</p>
            </div>
          </div>
          <div class="card text-center">
            <i class="fa-solid fa-building-columns"></i>
            <div class="card-body">
              <h3>Institucional</h3>
              <p class="card-text">Mejora la imagen de tu empresa en Internet.</p>
            </div>
          </div>
          <div class="card text-center">
            <i class="fa-solid fa-utensils"></i>
            <div class="card-body">
              <h3>Restaurante</h3>
              <p class="card-text">Mejora la imagen de tu empresa en Internet.</p>
            </div>
          </div>
    </div>
</div>
</section>
