<section id="tipos">
  <div class="container">
    <h1 class="text-center">Tipos de Sitios web</h1>
    <div class="row">
      <div class="card text-center" *ngFor="let tip of tipos">
        <i class={{tip.icono}}></i>
        <div class="card-body">
          <h3>{{tip.titulo}}</h3>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 80px; background-color: #6248f7; height: 3px" />
          <p class="card-text">{{tip.descripcion}}</p>
        </div>
      </div>
    </div>
  </div>
</section>