#tipos {
    margin-top: 100px;
}

.row {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

h1:first-of-type {
    color: hsl(0, 0%, 0%);
    margin-top: 20px;
    font-size: 50px;
}

h1:last-of-type {
    color: hsl(0, 0%, 0%);
}

@media screen and (max-width: 458px) {

    h1:first-of-type,
    h1:last-of-type {
        font-size: 40px;
    }
}






.card {
    border: none;
    max-width: 20rem;
    height: auto;
    min-height: 400px;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    font-size: 50px;
    border-radius: 50%;
    padding: 15px;
    color: #ffffff;
    background-image: linear-gradient(to top, #a177fc 0%, #6248f7 100%);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.263);
}

h3 {
    font-weight: 700;
}


