<section id="nosotros">
    <div class="container">
        <h1>Desarrollamos tu página <br><span>desde cero.</span></h1>
        <h4>Te escuchamos y creamos tu sitio web personalizado.</h4>
        <p>
            Creamos la estructura visual, seleccionamos cuidadosamente las imágenes, redactamos los contenidos,
            programamos con precisión y finalmente, cargamos el resultado en la web.<br><br>
            En Code Web, nos dedicamos apasionadamente a proporcionar soluciones digitales innovadoras. Nos hemos
            especializado en el desarrollo personalizado de páginas web. La tecnología es nuestra gran motivación,
            impulsando cada proyecto que emprendemos.<br>
            Únete a nosotros en esta travesía, donde la creatividad, la tecnología y la estrategia se encuentran para
            impulsar tu presencia en línea hacia nuevas alturas. En Code Web, convertimos ideas en experiencias
            digitales extraordinarias.
        </p>
    </div>
</section>