<section id="nosotros">
<div class="container">
    <h1>Transformando ideas<br>en experiencias digitales</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus doloribus illum et sequi <strong>perferendis voluptatibus</strong>, debitis blanditiis fugit ea dolores voluptas error corporis eius atque sapiente ducimus inventore nostrum voluptatem nobis odit, cupiditate nemo.<br> Deserunt temporibus id aliquam sunt, quia laudantium rerum sapiente quidem itaque maiores assumenda. Iure similique sed totam! Porro accusamus odit perferendis! Consectetur, libero cupiditate.<br> Delectus quod suscipit sed, nobis consectetur impedit ea itaque ullam, adipisci officiis dicta vel in provident ipsam? <strong>Aperiam pariatur</strong> neque et deserunt nemo quo at labore maxime ex velit perferendis, minima dignissimos obcaecati quos aliquam odio quibusdam dolorum totam? Sapiente, accusamus molestiae?
    </p>
</div>
</section>