<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <h1 class="logo ms-auto"><a href="index.html">Code Web</a></h1>
    <div class="menu-wrap">
      <input type="checkbox" class="toggler">
      <div class="hamburger">
        <div></div>
      </div>
      <div class="menu">
        <div>
          <div>
            <ul>
              <li>
                <a class="menu-pointer" routerLink="/Inicio">Inicio</a>
              </li>
              <li>
                <a class="menu-pointer" routerLink="/Servicios">Servicios</a>
              </li>
              <li>
                <a class="menu-pointer" routerLink="/Paginas">Trabajos Realizados</a>
              </li>
              <li>
                <a class="menu-pointer" routerLink="/Contacto">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

  <div class="container">
    <div class="row">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
        data-aos-delay="200">
        <h1>Diseño y Desarrollo Web</h1>
        <h2>Contactenos y Convierte su Pagina Web en un reflejo fiel de su identidad y vision.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="#about" class="btn-get-started scrollto" routerLink="/Contacto">Quiero Mi Pagina Web!</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos-delay="200">
        <img src="../../../assets/imagenes/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->