<app-banner></app-banner>
<app-nosotros></app-nosotros>
<app-servicios></app-servicios>
<app-regalo></app-regalo>
<app-dudas></app-dudas>
<app-paginas></app-paginas>
<app-contacto></app-contacto>
<!--boton dirijir hacia arriba-->
<button *ngIf="showScrollToTopButton" class="btn btn-sm scroll-to-top" (click)="scrollToTop()">
    <i class="fa fa-arrow-up"></i>
  </button>
  <!--boton Whatsapp-->
  <a href="https://wa.me/3537661920" class="btn-whatsapp-pulse" target="_blank" rel="noopener noreferrer">
    <i class="fab fa-whatsapp"></i>
  </a>
  
  