<app-banner></app-banner>
<app-nosotros></app-nosotros>
<app-servicios></app-servicios>
<app-paginas></app-paginas>
<app-contacto></app-contacto>
<!--boton dirijir hacia arriba-->
<button *ngIf="showScrollToTopButton" class="btn btn-sm scroll-to-top" (click)="scrollToTop()">
    <i class="fa fa-arrow-up"></i>
  </button>
  <!--boton Whatsapp-->
  <div class="sharing">
    <a href="https://wa.me/3537661920" target="_blank" class="sharing-item sharing-whatsapp">
      <svg class="i" viewBox="0 0 24 24">
        <circle cx="9" cy="9" r="1"></circle>
        <circle cx="15" cy="15" r="1"></circle>
        <path d="M8 9a7 7 0 0 0 7 7m-9 5.2A11 11 0 1 0 2.8 18L2 22"></path>
      </svg>
    </a>
  </div>
  