<!--Body seccion-->
<section id="paginas">
<div class="header">
  <h1>Ultimos trabajos</h1>
</div>
<div class="container">
  <div class="row">
    <div class="card"><a href="https://dimecosalud.com.ar/inicio" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/imagenes/dimecosaludCaptura.png" class="card-img" alt="Dimeco Salud">
    </a>
    </div>
    <div class="card"><a href="https://asistirbellville.com.ar/home" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/imagenes/asistirbellvilleCaptura.png" class="card-img" alt="Asistir">
    </a>
    </div>
    <div class="card"><a href="https://mi-portafolio-db660.web.app/" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/imagenes/miportafolioCaptura.png" class="card-img" alt="Portafolio nacho">
    </a>
    </div>
    <div class="card"><a href="https://departamento-mar-del-plata.web.app/" target="_blank" rel="noopener noreferrer">
      <img src="../../../assets/imagenes/departamentoCaptura.png" class="card-img" alt="departamento">
    </a>
    </div>
  </div>
</div>
</section>
<!--Fin Body seccion-->






