<!--Body seccion-->
<section id="paginas">
  <div class="elementor-widget-container">
    <h2 class="text-center"><i class="fa-regular fa-hand-point-right"></i> Una presencia en línea que deje huellas.</h2>
  </div>
  <div class="header">
    <h1>Últimos trabajos</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="card" *ngFor="let pag of paginas"><a href={{pag.href}} target="_blank" rel="noopener noreferrer">
          <img src={{pag.imagen}} class="card-img" alt={{pag.alt}}>
        </a>
      </div>
    </div>
  </div>
</section>
<!--Fin Body seccion-->